// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  text-decoration: none !important;
  list-style: none !important;
  border: none !important;
  font-family: "Roboto Condensed", sans-serif;
  &::-webkit-scrollbar {
    display: none;
  }
}

// Reactstrap/Bootstrap reset
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0 !important;
  padding: 0 !important;
}

// Base container
.container {
  max-width: 94% !important;
  margin: 0 auto !important;
  padding: 0 !important;
}
